<!-- Popup -->
<div class="popup js-popup js-popup-thanks" >
	<div class="popup__overflow">
		<div class="popup__body text-center">
			<button class="btn__close js-close-popup-btn" type="button"></button>
			<!-- Popup content-->
			<div class="popup__content">
				<h3 class="popup__title">Спасибо</h3>
				<p class="popup__text">В ближайшее время мы с<br>вами свяжемся</p>
			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Popup -->

<!-- Popup -->
<div class="popup js-popup js-popup-terms">
	<div class="popup__overflow">
		<div class="popup__body text-center">
			<button class="btn__close js-close-popup-btn" type="button"></button>
			<!-- Popup content-->
			<div class="popup__content">
				<h3 class="popup__title popup__title--sm">Условия пользовательского соглашения</h3>
				<div class="content">
					<h2>h2</h2>
					<p>Lorem ipsum dolor sit amet, <b>consectetur adipisicing elit.</b> Optio eum, a ad! Deleniti, velit alias quidem, natus officiis voluptas omnis beatae deserunt iusto fugit, explicabo eius rem. Iste suscipit odit dignissimos <strong>totam deleniti commodi quod quasi nemo</strong>. Magnam cum, enim excepturi ut eum, dolor quasi a commodi quae modi beatae?</p>

					<h3>h3</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Optio eum, a ad! Deleniti</a>, velit alias quidem, natus officiis voluptas omnis beatae deserunt iusto fugit, explicabo eius rem. Iste suscipit odit dignissimos totam deleniti commodi quod quasi nemo. Magnam cum, enim excepturi ut eum, dolor quasi a commodi quae modi beatae?</p>

					<h4>h4</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio eum, a ad! Deleniti, velit alias quidem, natus officiis voluptas omnis beatae deserunt iusto fugit, explicabo eius rem. Iste suscipit odit dignissimos totam deleniti commodi quod quasi nemo. Magnam cum, enim excepturi ut eum, dolor quasi a commodi quae modi beatae?</p>

					<h5>h5</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio eum, a ad! Deleniti, velit alias quidem, natus officiis voluptas omnis beatae deserunt iusto fugit, explicabo eius rem. Iste suscipit odit dignissimos totam deleniti commodi quod quasi nemo. Magnam cum, enim excepturi ut eum, dolor quasi a commodi quae modi beatae?</p>

					<h6>h6</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio eum, a ad! Deleniti, velit alias quidem, natus officiis voluptas omnis beatae deserunt iusto fugit, explicabo eius rem. Iste suscipit odit dignissimos totam deleniti commodi quod quasi nemo. Magnam cum, enim excepturi ut eum, dolor quasi a commodi quae modi beatae?</p>

					
				</div>
			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Popup -->