.btn
	display inline-block
	padding 23px 35px
	font 18px $Reg
	line-height 1
	text-align center
	color $light-color
	transition all .17s ease-in-out
	backface-visibility hidden
	background-color $accent-color
	min-width 335px
	&:hover
		background-color darken($accent-color, 10%)
		
	&__close
		display inline-block
		width 15px
		height 15px
		background url('../img/icons/svg/close-ic.svg') 
	