.form
	max-width 600px
	margin 40px auto
	
.input
	display block
	width 100%
	padding 12px 15px
	text-align left
	background-color transparent
	border 1px solid rgba($light-color, .25)
	border-radius 5px
	font 14px $Reg
	color $light-color
	&:hover,
	&:focus
		border-color $accent-color
	&::-webkit-input-placeholder
		font 14px $Reg
		color rgba($light-color, .25)
	&::-moz-placeholder
		font 14px $Reg
		color rgba($light-color, .25)
	&:-moz-placeholder
		font 14px $Reg
		color rgba($light-color, .25)
	&:-ms-input-placeholder
		font 14px $Reg
		color rgba($light-color, .25)
		
	&__wrapper
		position relative
		width 370px
		&:first-child
			margin-right 30px
		
	&.is-error
		border-color red


.inputs__row
	margin-bottom 130px	


.checkbox,
.radio
	position relative
	display inline-block
	margin-left 0
	padding-left 25px
	font 1em $Reg
	line-height 1
	color $text-color
	&:before,
	&:after
		pseudo()
		transition all .25s ease-in-out
		position absolute
		left 0
		vertical-center()
			
	&__label
		cursor pointer
		display inline-block
		input
			display none

.checkbox
	&:before
		border-radius 4px
		width 18px
		height 18px
		border 1px solid $accent-color
		background-color transparent
	&:after
		width 12px
		height 12px
		background url('../img/icons/svg/checkbox-ic.svg') 50% 50% no-repeat
		background-size 12px 12px
		position absolute
		left 3px
		top 8px
		opacity 0
	&__label
		input
			&:checked 
				+ span
					&:before
						border-color $dark-color
						background-color $dark-color
					&:after
						opacity 1
			
.radio
	&:before
	&:after
		border-radius 50%
	&:before
		width 18px
		height 18px
		border 1px solid $accent-color
		background-color $transparent
	&:after
		width 12px
		height 12px
		background-color $light-color
		left 3px
		top 8px
		opacity 0
		
	&__label
		input
			&:checked 
				+ span
					&:before
						border-color $dark-color
						background-color $dark-color
					&:after
						opacity 1

		