.promo__calc--input-range
	height 3px
	border-radius 0
	box-shadow none
	padding 0
	background-color #C4C4C4
	border none
	margin 25px 0 50px 0
	.noUi
		&-connects
			height 100%
		&-connect
			background-color $accent-color
			
		&-handle
			width 21px
			height 21px
			border-radius 50%
			background-color $light-color
			border 5px solid $accent-color
			box-shadow none
			outline none
			top -9px
			&:before,
			&:after
				display none
			&:hover,
			&:focus
				outline none