//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('SanFrancisco-Regular', 'SanFrancisco/regular', 'SFUIDisplay-Regular', true, normal, normal)
webfont('SanFrancisco-Bold', 'SanFrancisco/bold', 'SFUIDisplay-Bold', true, normal, normal)
webfont('SanFrancisco-Medium', 'SanFrancisco/medium', 'SFUIDisplay-Medium', true, normal, normal) 
webfont('SanFrancisco-SemiBold', 'SanFrancisco/semibold', 'SFUIDisplay-Semibold', true, normal, normal) 

webfont('GeometriaRegular', 'Geometria', 'Geometria', true, normal, normal)
webfont('GeometriaBold', 'Geometria', 'Geometria-Bold', true, normal, normal)
webfont('GeometriaLight', 'Geometria', 'Geometria-Light', true, normal, normal)
webfont('GeometriaMedium', 'Geometria', 'Geometria-Medium', true, normal, normal)
