//  Fonts 
$Light = 'GeometriaLight', Arial, sans-serif
$Reg = 'GeometriaRegular', Arial, sans-serif
$Med = 'GeometriaMedium', Arial, sans-serif
$Bold = 'GeometriaBold', Arial, sans-serif


$SFReg = 'SanFrancisco-Regular', Arial, sans-serif
$SFBold = 'SanFrancisco-Bold', Arial, sans-serif
$SFMed = 'SanFrancisco-Medium', Arial, sans-serif
$SFSemiBold = 'SanFrancisco-SemiBold', Arial, sans-serif

// ========== ========== ========== ========== ==========

// Sizes
$container-width = 1200px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 15px

$gutters = 90px 0
$gutter-top = 90px
$gutter-bottom = 90px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #1EB0DE
$secondary-color = green
$text-color = #fff
$light-text-color = #a2a2a2
$dark-text-color = #383838

$light-color = #fff
$dark-color = #000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #e3e3e3
$header-bg = #a2a2a2
$footer-bg = #282828
$dark-bg = #090909

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #29273D
$popup-overlay-opacity = .85
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========